<h1 class="display-4">IMPERIATEC Test Technique</h1>
<p class="mb-4">Liste d'arrivée</p>
<a href="ArrivalList/list" class="btn btn-light">View ArrivalList</a>
<a href="ArrivalList/add" class="btn btn-light">Add ArrivalList</a>